

      <div class="jumbotron">
        <h1>简单的云端通讯录</h1>
        <p class="lead">这是Demo App的存在是为了演示云计算给程序员带来的开发部署便利性，可以说现在任何在线服务或多或少不得不和云计算扯上关系。本站点使用Bootstrap+Sinatra搭建，数据存储于Parse运算平台，部署在Heroku。</p>
        <a class="btn btn-large btn-success" href="/signup">立即注册</a> 
        <span class="pull-right">
        已经有帐号了？<a class="btn btn-large btn-primary" href="/signin">登录</a></span>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4>永久免费</h4>
          <p>The quick brown fox jumps over the lazy dog and feels as if he were in the seventh heaven of typography together with Hermann Zapf, the most famous artist of the...</p>

          <h4>无限空间</h4>
          <p>The quick brown fox jumps over the lazy dog and feels as if he were in the seventh heaven of typography together with Hermann Zapf, the most famous artist of the...</p>

          <h4>全平台支持</h4>
          <p>The quick brown fox jumps over the lazy dog and feels as if he were in the seventh heaven of typography together with Hermann Zapf, the most famous artist of the...</p>
        </div>

        <div class="span6">
          <h4>一键备份</h4>
          <p>The quick brown fox jumps over the lazy dog and feels as if he were in the seventh heaven of typography together with Hermann Zapf, the most famous artist of the...</p>

          <h4>自动同步</h4>
          <p>The quick brown fox jumps over the lazy dog and feels as if he were in the seventh heaven of typography together with Hermann Zapf, the most famous artist of the...</p>

          <h4>想不到别的广告词了</h4>
          <p>The quick brown fox jumps over the lazy dog and feels as if he were in the seventh heaven of typography together with Hermann Zapf, the most famous artist of the...</p>
        </div>
      </div>

      